#sidebar
  %ul.db-tooltip
    %li
      %h2 Selected Gear
    %li
      .db-image
        %img{:alt => "", :src => "http://media-ascalon.cursecdn.com/avatars/thumbnails/114/418/56/56/61297.png"}
      .db-title
        = @outfit
    %li
      .db-image
        %img{:alt => "", :src => "http://media-ascalon.cursecdn.com/avatars/thumbnails/114/418/56/56/61297.png"}
      .db-title
        Heavy Water Filter
    %li
      .db-image
        %img{:alt => "", :src => "http://media-ascalon.cursecdn.com/avatars/thumbnails/114/418/56/56/61297.png"}
      .db-title
        Heavy Water Filter
    %li
      .db-image
        %img{:alt => "", :src => "http://media-ascalon.cursecdn.com/avatars/thumbnails/114/418/56/56/61297.png"}
      .db-title
        Heavy Water Filter
    %li
      .db-image
        %img{:alt => "", :src => "http://media-ascalon.cursecdn.com/avatars/thumbnails/114/418/56/56/61297.png"}
      .db-title
        Heavy Water Filter
    %li
      .db-image
        %img{:alt => "", :src => "http://media-ascalon.cursecdn.com/avatars/thumbnails/114/418/56/56/61297.png"}
      .db-title
        Heavy Water Filter
    %li
      %button Show More
