
%h1 Listing Outfits
#the-grid
  =render "selected-gear"

  #stats
    .stats-header.stats-row.sliders
      .stats-slider>=stat_slider("Armor")
      .stats-slider>=stat_slider("Attack Power")
      .stats-slider>=stat_slider("Hit Points")
      .stats-slider>=stat_slider("Healing Power")
      .stats-slider>=stat_slider("Condition Damage")
      .stats-slider>=stat_slider("Critical Damage")
      .stats-slider>=stat_slider("Critical Chance")
      .stats-slider>=stat_slider("Condition Duration")
      .stats-slider>=stat_slider("Boon Duration")

    - @outfits.each do |outfit|
      .stats-row-container
        .stats-row{"data-id" => outfit.id}>
          .stats-item>= outfit.armor
          .stats-item>= outfit.attack_power
          .stats-item>= outfit.hit_points
          .stats-item>= outfit.healing_power
          .stats-item>= outfit.condition_damage
          .stats-item>= outfit.critical_damage
          .stats-item>= outfit.critical_chance
          .stats-item>= outfit.condition_duration
          .stats-item>= outfit.boon_duration
        / .stats-item.preview.icon-eye{:title => "wtf"}>= link_to 'Show', outfit


    = paginate @outfits



%br

