
%h1 Listing Outfits
#the-grid
  #sidebar
    %ul.db-tooltip
      %li
        %h2 Selected Gear
      %li
        .db-image
          %img{:alt => "", :src => "http://media-ascalon.cursecdn.com/avatars/thumbnails/114/418/56/56/61297.png"}
        .db-title
          Heavy Water Filter
      %li
        .db-image
          %img{:alt => "", :src => "http://media-ascalon.cursecdn.com/avatars/thumbnails/114/418/56/56/61297.png"}
        .db-title
          Heavy Water Filter
      %li
        .db-image
          %img{:alt => "", :src => "http://media-ascalon.cursecdn.com/avatars/thumbnails/114/418/56/56/61297.png"}
        .db-title
          Heavy Water Filter
      %li
        .db-image
          %img{:alt => "", :src => "http://media-ascalon.cursecdn.com/avatars/thumbnails/114/418/56/56/61297.png"}
        .db-title
          Heavy Water Filter
      %li
        .db-image
          %img{:alt => "", :src => "http://media-ascalon.cursecdn.com/avatars/thumbnails/114/418/56/56/61297.png"}
        .db-title
          Heavy Water Filter
      %li
        .db-image
          %img{:alt => "", :src => "http://media-ascalon.cursecdn.com/avatars/thumbnails/114/418/56/56/61297.png"}
        .db-title
          Heavy Water Filter
      %li
        %button Show More

  #stats
    .stats-header.stats-row.sliders
      .stats-slider>=stat_slider("Armor")
      .stats-slider>=stat_slider("Attack Power")
      .stats-slider>=stat_slider("Hit Points")
      .stats-slider>=stat_slider("Healing Power")
      .stats-slider>=stat_slider("Condition Damage")
      .stats-slider>=stat_slider("Critical Damage")
      .stats-slider>=stat_slider("Critical Chance")
      .stats-slider>=stat_slider("Condition Duration")
      .stats-slider>=stat_slider("Boon Duration")

    - @outfits.each do |outfit|
      .stats-row-container
        .stats-row>
          .stats-item>= outfit.armor
          .stats-item>= outfit.attack_power
          .stats-item>= outfit.hit_points
          .stats-item>= outfit.healing_power
          .stats-item>= outfit.condition_damage
          .stats-item>= outfit.critical_damage
          .stats-item>= outfit.critical_chance
          .stats-item>= outfit.condition_duration
          .stats-item>= outfit.boon_duration
        / .stats-item.preview.icon-eye{:title => "wtf"}>= link_to 'Show', outfit


    = paginate @outfits



%br
:javascript
  $(function() {
    $.each($(".slider-range" ), function(e) {

      $(this).slider({
        orientation: "vertical",
        range: true,
        step: 5,
        values: [ 0, 100 ],
        slide: function( event, ui ) {
          var name = $(this).data("name");
          $(".slider-amount #slider-" + name).text( ui.values[ 0 ] + " - " + ui.values[ 1 ] );
        }
      }).height(150);

    });
    $(".slider-range").each(function() {
      var name = $(this).data("name");
      var rangeIndicator = $(".slider-amount #slider-" + name);
      rangeIndicator.text($(this).slider("values", 0) + " - " + $(this).slider("values", 1))
    });

    $('#stats').fauxtable({
      items: '>:not(.nosort)',
      placeholder: 'placeholder',
      helper: '.stats-slider',
      stop: function(e, ui) {
        setTimeout(function() {
          var i = ui.item.index() + 1;
          $(".stats-row .stats-item:nth-child("+i+")").effect("highlight", 400);
          ui.item.effect("highlight");
          $(".fix-me").removeClass('fix-me');
        }, 100);
      },
      change: function(e, ui) {
        var lastItem = $(".stats-header .stats-slider:last-child");
        var prevItem = $(".ui-sortable-helper").prev();

        if (lastItem.hasClass("ui-sortable-helper") && lastItem.prev().hasClass('stats-slider')) {
          prevItem.addClass('fix-me');
        } else {
          $(".fix-me").removeClass('fix-me');
        }
      }
    });



    var tip = $(".db-tooltip");
    $(function(){
      $(".stats-row-container").tipTip({maxWidth: "auto",
                              edgeOffset: 10,
                              defaultPosition: "left",
                              content: "      Click to show gear      ",
                              delay: 1000});
    });


  });

