
%h1 Listing Outfits
#the-grid
  =render "selected-gear"

  #stats
    .stats-header.stats-row.sliders
      .stats-slider>=stat_slider("Armor")
      .stats-slider>=stat_slider("Attack Power")
      .stats-slider>=stat_slider("Hit Points")
      .stats-slider>=stat_slider("Healing Power")
      .stats-slider>=stat_slider("Condition Damage")
      .stats-slider>=stat_slider("Critical Damage")
      .stats-slider>=stat_slider("Critical Chance")
      .stats-slider>=stat_slider("Condition Duration")
      .stats-slider>=stat_slider("Boon Duration")

    .stats-outfits-container

    / .stats-item.preview.icon-eye{:title => "wtf"}>= link_to 'Show', outfit


    = paginate @outfits


%br

:javascript
  console.log #{@outfits.to_json}
  / Outfitter.initialize({ outfits: #{@outfits.to_json} })
