
%h1 Listing Outfits

#stats
  .stats-header.stats-row.sliders
    .stats-slider>=stat_slider("Armor")
    .stats-slider>=stat_slider("Attack Power")
    .stats-slider>=stat_slider("Hit Points")
    .stats-slider>=stat_slider("Healing Power")
    .stats-slider>=stat_slider("Condition Damage")
    .stats-slider>=stat_slider("Critical Damage")
    .stats-slider>=stat_slider("Critical Chance")
    .stats-slider>=stat_slider("Condition Duration")
    .stats-slider>=stat_slider("Boon Duration")

  - @outfits.each do |outfit|
    .stats-row-container
      .stats-row
        .stats-item>= outfit.armor
        .stats-item>= outfit.attack_power
        .stats-item>= outfit.hit_points
        .stats-item>= outfit.healing_power
        .stats-item>= outfit.condition_damage
        .stats-item>= outfit.critical_damage
        .stats-item>= outfit.critical_chance
        .stats-item>= outfit.condition_duration
        .stats-item>= outfit.boon_duration
      .stats-item.preview>= link_to 'Show', outfit

/ %table#ex1
/   %thead
/     %tr.sliders
/       %th=stat_slider("Armor")
/       %th=stat_slider("Attack Power")
/       %th=stat_slider("Hit Points")
/       %th=stat_slider("Healing Power")
/       %th=stat_slider("Condition Damage")
/       %th=stat_slider("Critical Damage")
/       %th=stat_slider("Critical Chance")
/       %th=stat_slider("Condition Duration")
/       %th=stat_slider("Boon Duration")
/       %th.nosort


/   - @outfits.each do |outfit|
/     %tr
/       %td= outfit.armor
/       %td= outfit.attack_power
/       %td= outfit.hit_points
/       %td= outfit.healing_power
/       %td= outfit.condition_damage
/       %td= outfit.critical_damage
/       %td= outfit.critical_chance
/       %td= outfit.condition_duration
/       %td= outfit.boon_duration
/       %td= link_to 'Show', outfit

%br

= paginate @outfits

%br
:javascript
  $(function() {
    $.each($(".slider-range" ), function(e) {

      $(this).slider({
        orientation: "vertical",
        range: true,
        step: 5,
        values: [ 0, 100 ],
        slide: function( event, ui ) {
          var name = $(this).data("name");
          $(".slider-amount #slider-" + name).text( ui.values[ 0 ] + " - " + ui.values[ 1 ] );
        }
      });

    });
    $(".slider-range").each(function() {
      var name = $(this).data("name");
      var rangeIndicator = $(".slider-amount #slider-" + name);
      rangeIndicator.text($(this).slider("values", 0) + " - " + $(this).slider("values", 1))
    });

    // $('#stats').sorttable({items: '>:not(.nosort)', placeholder: 'placeholder'});
    $('#stats').fauxtable({items: '>:not(.nosort)', placeholder: 'placeholder', helper: '.stats-slider'});

  });

