
%h1 Listing Outfits
#the-grid
  =render "selected-gear"

  #stats
    .stats-header.stats-row.sliders
      .stats-slider>=stat_slider("Armor")
      .stats-slider>=stat_slider("Attack Power")
      .stats-slider>=stat_slider("Hit Points")
      .stats-slider>=stat_slider("Healing Power")
      .stats-slider>=stat_slider("Condition Damage")
      .stats-slider>=stat_slider("Critical Damage")
      .stats-slider>=stat_slider("Critical Chance")
      .stats-slider>=stat_slider("Condition Duration")
      .stats-slider>=stat_slider("Boon Duration")

    .stats-outfits-container

    / .stats-item.preview.icon-eye{:title => "wtf"}>= link_to 'Show', outfit

    .page test
    = paginate @outfits


%br

=javascript_include_tag "http://static-ascalon.cursecdn.com/current/js/syndication/tt.js"
:javascript
  Outfitter.initialize({ outfits: #{Rabl::Renderer.json(@outfits, 'outfits/index', :view_path => 'app/views', :scope => self)} })
