body {
  background: #efefef;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  a { text-decoration: none; }
}

header {
  @include background-image(linear-gradient(#444, #222));
  @include inline-block;
  font-size: 13px;
  padding: 0;
  width: 100%;
  // height: 20px;
  margin-bottom: 24px;
  a { color: #ddd; }
  a:hover { color: #ad0; }

  .container > * {
    height: 30px;
    vertical-align: top;
  }
  #logo, .page-navigation {
    @include inline-block;
    vertical-align: top;
  }

  #logo {
    margin-right: 10px;
    margin-top: 12px;
  }


  ul.account-navigation { float: right; }
  ul {
    display: block;
    margin: 0;
    height: 40px;
    margin-top: 6px;
  }
  ul li {
    @include inline-block;
    a {
      @include border-radius(4px);
      @include box-shadow(0 0 0 1px rgba(255,255,255, .05));
      @include background-image(linear-gradient(#222, #111));
      display: block;
      padding: 6px 6px 8px 6px;
      &:hover {
        background: #000;
        @include box-shadow(0 0 0 1px rgba(255,255,255, .1));
      }
    }
  }
}

.logo {

}

.container { @include container; }

h1 {
  font-size: 24px;
  margin-bottom: 12px;
}

#main {
  @include container;
  background: #fefefe;
  padding: 10px;
}

table {
  width: 100%;
  thead {
    @include box-shadow(0 1px 2px rgba(0,0,0, .15));
  }
  th {
    @include box-shadow(inset -1px 0 0 #ddd);
    background: #efefef;
    padding: 10px;
    &:first-child {
      @include border-radius(4px 0 0 4px);
    }
    &:last-child {
      @include border-radius(0 4px 4px 0);
      @include box-shadow(none);
    }
  }
  tr {
    &:nth-child(even) { background-color: #f6f6f6; }
  }
  td {
    @include box-shadow(inset -1px 0 0 #eee);
    padding: 10px;
    text-align: center;
    &:last-child {
      @include box-shadow(none);
    }
  }

}
