.ui-sortable-helper {
  cursor: move;
  padding: 0;
  margin: 0;
  .stats-slider {

  }
  @include border-radius(4px !important);
    @include box-shadow(0 0 0 1px rgba(0,0,0, .15),
                        inset 0 0 0 1px rgba(255,255,255, .85),
                        0 1px 3px rgba(0,0,0, .45) !important);

    background: #efefef !important;

}
.placeholder {
  @include box-shadow(inset 0 0 0 1px rgba(0,0,0, .15));
  @include inline-block;
  color: black;
  background: #ccc !important;
  visibility: visible !important;
  padding: 10px;
  width: 80px;
  height: 360px;
}
